.alingCardNational{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.imageMap{
    max-width: 628px;
    max-height: 655px;
}

.cardNational{
    display: flex;
    flex-direction: row;
    width: 20rem;
    gap: 40px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

.circle{
    position: absolute;
    display: inline-block;
    background-color: var(--cinza-claro);
    border-radius: 50%;
    padding: 10px;
    width: 84px;
    height: 84px;
}

.cardNational img{
    position: relative;
    top: 10px;
    left: 10px;
}