.styleCardExecutive{
    display: flex;
}

.cardExecutive{
    width: 25%;
    background-color: #fff;
    padding: 24px;
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

.cardExecutive p{
    width: 100%;
}

.cardExecutive h3{
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--roxo-primario);
}

.cardExecutive img{
    width: 100%;
    height: 290px;
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 1rem;
}

.TeamOverviewCard{
    width: 20%;
    background-color: #fff;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--cinza-claro);
}
.TeamOverviewCard img{
    width: 100%;
    border-radius: 50%;
}

.TeamOverviewCard span{
    font-family: 'inter';
    font-size: .9rem;
    width: auto;
    margin-bottom: 0;
    margin-top: 1rem;
}

.cardTeam{
    display: flex;
    flex-wrap: wrap;
}