.card{
    width: 510px;
    background-color: #fff;
    padding: 17px;
    margin: 2rem 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.card img{
    max-width: 474px;
    border-radius: 10px;
}