.navegation{
    /* position: absolute;
    display: grid;
    left: 10%;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    margin-bottom: 10rem;*/
    padding: 3rem 0rem; 
    gap: 10%;
    font-size: 1rem;
    font-weight: 800;

    left: 50%;
    transform: translateX(-50%);
    
    font-family: "Inter", sans-serif;
    position: absolute;
    width: 80%;
    z-index: 10;
    background: transparent;

    

    display: flex;
    justify-content: center; 
    align-items: center;  
}

.navegation img, 
.navegation a{
    min-width: 150px;
    padding: 0rem 1rem;
    text-decoration: none;
    /* color: #000000; */
    max-height: 70px;
    height: 55px;
}

.navegation-center{
    border: 1px solid black;
    border-radius: 45px;
    display: flex;
    padding: 5px;
    /* width: 80%; */
    height: 66px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(88, 48, 157, 0.17);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 5px;
}

.navegation-center a{
    /* background-color: aquamarine; */
    border-radius: 45px;
    height: 3rem;
    max-width: 18rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navegation-center a:hover{
    background-color: #fff;
    color: var(--roxo-primario);
}

.desingButContLogo{
    color: #58309D;
    background-color: #F3F5F7;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.toogleButton{
    display: none;
}

@media(max-width:1600px){
    .navegation{
        margin-bottom: 4rem;
        
    }
}

@media(max-width: 1450px){
    .navegation-center a{
        width: 0;
    }
}


@media (max-width: 1140px){
    .toogleButton{
        display: flex;
    }
    .navegation-center{
        display: none;
    }
    .navegation img, a{
        min-width: 0;
    }
    .navegation{
        
        grid-template-columns: 1fr 1fr 1fr;
    }

}