.national{
    height: 100vh;
}

.org{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.orgTop{
     grid-column: 1/3; 
}

.desingDivImageMap{
    display: flex;

}

.imageMap{
    max-width: 100%;
}

@media (max-width: 1000px){
    .org{
        display: block;
    }
    .desingDivImageMap{
        margin-top: 5rem;
    }
}
