:root {
  --roxo-primario: #58309D;
  --roxo-claro: #8761C9;
  --background: #F3F5F7;
  --paragraph: #4A4A55;
  --sub-titulos: #58309d;
  --cinza-claro: #D9D9D9;
  --line: #D0D0D0;
  --branco: #fff;
  --header-height: 12rem;
}

#center{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(/src/images/hero-city.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
  }
  
  .desingCenter{
    max-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    
}

.container{
  padding-top: var(--header-height);
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  width: 80%;
  /* margin: 0 auto; */
  max-width: 1500px;
  color: white;
}

.containerPages{
  width: 80%;
  margin: 0 auto;
}

.containerPagesText{
  width: 80%;
  margin: 0 auto;
}

.StylePrivacyPolicy p{
    width: 100%;
}

.lgpd{
    color:#0A6EB5;
    font-weight: 800;
}

@media (max-width: 1600px){
  .container{
     margin-bottom: 2rem;
  }
}