*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html{
  background-color: var(--background);
}

h1{
  font-family: "Urbanist", sans-serif;
  font-size: clamp(2.5rem, 5vw, 6rem);
  width: 80%;
  margin-bottom: 4rem;
  font-weight: 800;
}

h2{
  font-family: "epilogue", sans-serif;
  font-size: clamp(1.4rem, 1vw, 2.5rem);
  margin-bottom: 1rem;
  width: 80%;
  font-weight: 800;
}

h3{
  font-family: "epilogue", sans-serif;
  font-size: clamp(1rem, 1vw, 2rem);
  margin-bottom: 1.5rem;
  width: 70%;
  font-weight: 500;
}

h4{
  font-family: 'inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0px;
  color: var(--sub-titulos);
}

p{
    font-family: 'epilogue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--paragraph);
    margin-bottom: 1.5rem;
    width: 80%;
}

hr{
  margin: 2rem 0rem 3rem 0rem;
  border: none;
  height: 1px;
  width: 80%;
  margin: 2rem auto;
  background-color: var(--line);
}